body {
    background: rgba(51, 139, 240, 0.3);
    font-size: 13pt;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    /*font-family: "Comic Sans MS", cursive, sans-serif;*/
}

header {
    text-align: center;
    padding-top: 5px;
}

main {
    background: white;
    border-radius: 10px;
    margin: auto;
    padding: 15px;
    width: 75vw;
    max-width: 1000px;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 200);
}
a:hover {
    text-decoration: underline;
}

p.explicar {
    font-size: 12pt;
    font-style: italic;
}

h1 {
    font-weight: 500;
}
h1.disciplina {
    margin-bottom: 0px;
}

h2.ano {
    margin-top: 0px;
}

h3.unidade {
    margin-top: 40px;
    margin-bottom: 0px;
}

div {
    text-align: center;
    padding: 5px;
}
div.graf {
    margin: auto;
    max-width: 100vh;
}
div.header {
    margin: 0px;
    padding: 0px;
}
div.lista-AL {
    margin-top: 50px;
    text-align: left;
}

table {
    padding: 0px;
    border-collapse: collapse;
}
table.centrada {
    margin: auto;
    width: fit-content;
}


tr.menu td {
    padding: 10px 15px 0px 15px;
    border-bottom: 1px solid #ddd;
}
tr.menu td:hover {
    cursor: pointer;
}

td.slider-label {
    text-align: right;
}
td p {
    height: 10px;
    margin: 0px;
}


input.slider {
    margin-top: 10px;
    height: 100%;
    width: 30vw;
    opacity: 70%;
}
input.slider:hover{
    opacity: 100%;
}

ul.navbar {
    list-style-type: none;
    margin: 5px 5px 20px 5px;
    padding: 0px;
    overflow: hidden;
    background-color: rgba(128, 128, 128, 0.4);
    border-radius: 5px;
}
ul.navbar li {
    display: block;
    float: left;
    color: white;
    padding: 10px 6px;
    text-align: center;
    transition: background-color 0.2s;
}
ul.navbar li a {
    color: white;
    padding: 10px 6px;
    text-decoration: none;
}
ul.navbar li:hover {
    background-color: rgba(128, 128, 128, 0.7);
}

footer {
    text-align: center;
}
