body {
    background: rgba(51, 139, 240, 0.3);
    font-size: 13pt;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    /*font-family: "Comic Sans MS", cursive, sans-serif;*/
    margin: 0px;
}

header {
    text-align: center;
    padding-top: 5px;
}

main {
    background: white;
    border-radius: 10px;
    margin: auto;
    padding: 15px 25px 15px 25px;
    width: 75vw;
    max-width: 1000px;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 200);
}
a:hover {
    text-decoration: underline;
}

p.explicar {
    font-size: 80%;
    font-style: italic;
}
p.contas {
    line-height: 150%;
}

u.simples {
    text-decoration: underline dotted gray;
}
i.ex {
    font-size: 90%;
}

h1 {
    font-weight: 500;
}
h1.disciplina {
    margin-bottom: 0px;
}

h2.ano {
    margin-top: 0px;
}

h3.unidade {
    margin-top: 40px;
    margin-bottom: 0px;
}

span.nota {
    font-size: small;
}

div {
    text-align: center;
    padding: 5px;
}
div.graf {
    margin: auto;
    max-width: 100vh;
}
div.header {
    margin: 0px;
    padding: 0px;
    position: sticky;
    position: -webkit-sticky;
    top: 0px;
}
div.lista-AL {
    margin-top: 50px;
    text-align: left;
}
div#alvo {
    align-content: center;
}

table {
    padding: 0px;
    border-collapse: collapse;
}
table.centrada {
    margin: auto;
    width: fit-content;
}


tr.menu td {
    padding: 10px 15px 0px 15px;
    border-bottom: 1px solid #ddd;
}
tr.menu td:hover {
    cursor: pointer;
}

td.slider-label {
    text-align: right;
}
td p {
    height: 10px;
    margin: 0px;
}


input.slider {
    margin-top: 10px;
    height: 100%;
    width: 30vw;
    opacity: 70%;
}
input.slider:hover{
    opacity: 100%;
}

ul.navbar {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: rgba(128, 128, 128, 1);
}
ul.navbar li {
    display: inline-block;
    color: white;
    padding: 10px 6px;
    text-align: center;
    transition: background-color 0.2s;
}
ul.navbar li a {
    color: white;
    padding: 10px 6px;
    text-decoration: none;
}
ul.navbar li:hover {
    background-color: rgba(128, 128, 128, 0.7);
}

ul.menu {
    margin: auto;
    padding: 0px;
    width: fit-content;
    list-style: none;
    border-bottom: 1px solid #ddd;
}
ul.menu li {
    padding: 10px 15px 0px 15px;
    display: inline-block;
}
ul.menu li:hover {
    cursor: pointer;
}

ul.material {
    display: table;
    margin: auto;
    padding: 0px;
    text-align: left;
    list-style-position: inside;
}

footer {
    text-align: center;
}
