body {
    background: rgba(51, 139, 240, 0.3);
    font: normal 14pt Calibri;
}

header {
    text-align: center;
    padding-top: 5px;
}

main {
    background: white;
    border-radius: 10px;
    margin: auto;
    padding: 15px;
    width: 75vw;
    max-width: 1000px;
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a.a-1 {
    color: blue;
}
a.a-2 {
    color: rgb(209, 164, 95);
}

p.explicar {
    font-size: 12pt;
    font-style: italic;
}

div {
    text-align: center;
    padding: 5px;
}
div.graf {
    margin: auto;
    max-width: 100vh;
}
div.header {
    margin: 0px;
    padding: 0px;
}

table {
    padding: 0px;
}
table.centered {
    margin: auto;
    width: fit-content;
}
table.centered tr td.slider-label {
    text-align: right;
}
td p {
    height: 10px;
    margin: 0px;
}


input.slider {
    margin-top: 10px;
    height: 100%;
    width: 30vw;
    opacity: 70%;
}
input.slider:hover{
    opacity: 100%;
}

ul.navbar {
    list-style-type: none;
    margin: 5px 5px 20px 5px;
    padding: 0px;
    overflow: hidden;
    background-color: rgba(128, 128, 128, 0.4);
    border-radius: 5px;
}
ul.navbar li {
    display: block;
    float: left;
    padding: 14px 16px;
    color: white;
    text-align: center;
    transition: background-color 0.2s;
}
ul.navbar li a {
    color: white;
    text-decoration: none;
}
ul.navbar li:hover {
    background-color: rgba(128, 128, 128, 0.8);
}
ul.navbar li.dropdown div.dropdown {
    margin: 0px;
    padding: 0px;
    position: relative;
    display: inline-block;
}
ul.navbar li.dropdown div.dropdown p {
    margin: 0px;
    padding: 0px;
}
ul.navbar li.dropdown div.dropdown a {
    display: none;
    position: relative;
    margin-top: 10px;
}
ul.navbar li.dropdown div.dropdown a.show {
    display: block;
}


footer {
    text-align: center;
}
